## Variables

- Variables are used to store the value 

- and the values can be changed

In [3]:
number = 100 # value 100 stored in a variable called number
number

100

In [4]:
number = 200 # value 200 stored in a variable called number
number

200

**NOTE**

- python is a step by step process

- python will take last output as the latest value

- in above code we are using same variable as number

- but number value change 2 times

- 1st tym :100 

- 2nd tym:200

- latest value:200

In [5]:
NUMBER = 200
NUMBER

200

In [6]:
number,NUMBER

(200, 200)

In [7]:
NUMber = 300
NUMber

300

In [8]:
number123 = 400
number123

400

In [9]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [10]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [11]:
number one =800
number one

SyntaxError: invalid syntax (354014665.py, line 1)

In [12]:
number_one =100
number_one

100

In [14]:
_ = 1000
_

1000

In [15]:
n1 = 100,200
n1

(100, 200)

In [16]:
n2,n3 = 200

TypeError: cannot unpack non-iterable int object

In [18]:
n4,n5 = 300,400
print(n4)
print(n5)

300
400

number=200

NUMBER=300  

NUMBer=400 

number123=500

123number=600

num%er=700

number one=800

number_one=900

_=1000

n1=100,200

n1,n2=100

n1,n2=100,200

## MUST KEEP IN MIND

- Python variables are case sensitive
- Variables can be declared as capital letters
- variables can be declared as small letters
- variables cannot start with numbers
- Numbers can be suffix of the variables
- Variables cannot have special characters except **underscore**
- Variables donnot have space betwwen them
- only underscore is possible
- keywords or reserved words cannot be used as variables
- two values can be assign to a single variable
- 2 values can be assigned to a single value
- one value cannot be assigned

## KEYWORDS

- while
- else
- elif
- for
- True
- False