**Lambda Function**

- Lambda functions represnts function concept
- But we can write in a single line
- Like list comprehension, lambda functions similar only
- It will decrease the time complexity
- always remember if we use many for loops or many conditions using multiple line ,
- the time complexity will increase

In [ ]:
**It will use a keyword lambda**
# lambda <arguments>: <expression>

In [ ]:
What is the interview process for a data science position with 3 years of experi
1) coding+sql
2) based on ML DL
3) Techn: 2,3
bond : 1.5 bonus
ds2 === 2 2ppl
ds3 ====
do you know

In [ ]:
strings
list
tuple set
dictionary
landad
file handling
oops : kwargs
Sir do we have right to break bond with company

In [1]:
def summ(n):
 return(n+10)
summ(10)

20

$Pattern âˆ’ 1$

**Function with only one argument**

- function name
- argument name
- return output

In [ ]:
# syntax: <function name>= lambda <argument name>: <return output>
def summ(n):
 return(n+10)
summ(10)
# function name= summ
# argument name = n
# return output= n+10

In [2]:
summ= lambda n:n+10
summ(100)

110

In [3]:
def cube(n):
 return(n**3)
cube(10)

1000

In [4]:
cube= lambda n:n**3
cube(10)

1000

$Pattern-2$

**Two arguments**

In [5]:
# syntax : <function name>= lambda <arg1>,<arg2>: <return output>
def add(a,b):
 return(a+b)
add(50,50)
# Function name: add
# arg1=a
# arg2=b
# return= a+b

100

In [6]:
add=lambda n1,n2: n1+n2
add(60,50)

110

In [7]:
average=lambda a,b,c:round((a+b+c)/3,2)
average(10,202,30)

80.67

$Pattern-3$

**Default arguments**

In [8]:
average=lambda a,b,c=500:round((a+b+c)/3,2)
average(10,202)

237.33

$Pattern-4$

**if-else**

In [10]:
def max(a,b):
     if a>b:
         return(a)
     else:
         return(b)
max(10,20)

20

In [11]:
# syntax : function name = lambda <arg1>,<arg2>: <list comprehension>
# syntax : function name = lambda <arg1>,<arg2>: <if_out><if_con><else><else_out
maxx=lambda a,b: a if a>b else b
maxx(30,20)

30

$Pattern-5$

**using List**

In [12]:
l=['hyd','chennai','mumbai']
# op=['Hyd','Chennai','Mumbai']
op=[]
for i in l:
 op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
lambda <variable>:<op>
# variable:i
# op: i.capitalize()
lambda <variable>:<op>,<iterator>
# Qn: from where you are getting 'i'
# <iterator>: list

**map**

- the function and iterator are available now
- we need to map both

In [13]:
l=['hyd','chennai','mumbai']
lambda i: i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [14]:
l=['hyd','chennai','mumbai']
map(lambda i: i.capitalize(),l)

In [16]:
# apply the list to see the values
l=['hyd','chennai','mumbai']
list(map(lambda i: i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [17]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i: i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
# step1: Write your normal expression
# ex: lambda <var>: <op>===>lambda i: i.capitalize()
# step2: add the iterator
# ex: lambda <var>: <op>,<list>===>lambda i: i.capitalize(),list1
# Step-3: Map the both
# ex: map(lambda <var>: <op>,<list>)===>map(lambda i: i.capitalize(),list
# Step-4: save the values in a list,
# ex: list(map(lambda <var>: <op>,<list>))===>list(map(lambda i: i.capital
#Note: Those who are getting list object not callable use tuple

In [ ]:
- Case 1 : function call with 1 argument
      - lambda arguments : Expression
      - lambda variables : return output  
- Case 2 : function call with 2 argument
      - lambda arg1,arg2 : Expression
      - lambda var1,var2 : return output  
- Case 3 : function call with default argument
      - lambda arg1,arg2=500 : Expression
      - lambda var1,var2=500 : return output  
- Case 4 : function call with 2 argument and if else statement
      - lambda arg1,arg2 : Expression
      - lambda var1,var2 : if _output if _con else _output for loop
- Case 5 : lambda operation with using list
      - lambda arg : Expression,iterator
      - map(lambda var : operation,list)
      - list(map(lambda var : operation,list))

In [2]:
#l=['hyd','chennai','mumbai']
# op=['HYD', 'CHENNAI', 'MUMBAI']
l=['hyd','chennai','mumbai']
tuple(map(lambda i: i.upper(),l))

('HYD', 'CHENNAI', 'MUMBAI')

In [3]:
#l=['hyd','che#nnai','mum#bai','blr']
#op=['che#nnai','mum#bai']
# mistake no 1 :tuple(map(lambda i:if '#' in i,l))- do not write if 

l=['hyd','che#nnai','mum#bai','blr']
tuple(map(lambda i:'#' in i,l))

(False, True, True, False)

**filter**

- whenever if condition is there use the filter

In [4]:
l=['hyd','che#nnai','mum#bai','blr']
tuple(filter(lambda i:'#' in i,l))

('che#nnai', 'mum#bai')

In [8]:
# numbers = [1,3,2,7,6]
# op=[2,6]

l=[1,3,2,7,6]
tuple(filter(lambda i:i%2==0,l))

(2, 6)

In [10]:
l1=[1,2,3,4,5]
# i want sum of the elements in the list
# method 1 : sum
sum(l1)
# method 2 : with out sum
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

**Reduce**

In [ ]:
- All inbuilt fns can achieve by reduce 
- reduce is available from functools package
- level 1 : reduce(lambda summ,i:summ+i,l1)
- level 2 : reduce(lambda summ,i:summ+i,l1,initial_value)
- for eg we want to initialize summ=o then we choose level 1 
- for eg we want to start other than 0 we should use level 2

In [22]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [23]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [24]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1)

15

In [26]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1,10)

25

In [27]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1,24)

39

In [28]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1,11)

26

In [29]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda mul,i:mul*i,l1)

120

In [30]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda x,y:x*y,l1)

120

In [35]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda x,y:x>y,l1)

False

In [36]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda x,y:x+y,l1)

15

In [37]:
import functools

In [38]:
functools

In [ ]:
# max value using reduce
# map : Direct attack
# filter : if conditions
# reduce : inbuilt functions some initialization

# I want detailed word document with examples on each of the topic above which show the distinct difference about for loop and then using the above functions
# In a single example first show how we can use the for loop to get the answer then with the same ex show how we can use above fn