**List Comprehension**

- We can store the output values by using append operations
- We are taking empty list and we are iterating through elements from a given list
- the result we are appending in a new list

In [3]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process
- The three line we can make into a single line
- This is called as **list comprehension**

$Pattern - 1$

**only for loop**

In [ ]:
#syntax

[<Output>   <for loop>]

In [7]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

#Q1) What is the output? i*i
#Q2) What is the output list name? square_list
#Q3) What is the for loop? for i in range(10)
#Q4) syntax ? [<Output>   <for loop>]
sq_list=[i*i  for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
#Q2)l1=['hyd','mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital

l1=['Hyd','Mumbai','Chennai','blr']
ans=[i.upper() for i in l1]
ans

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [13]:
#Q3)l2=['Hyd','Mumbai','Chennai','Blr']
# ans= ['hyd','mumbai']
# we want lements which are having first letter small

l2=['Hyd','Mumbai','Chennai','blr']
ans=[i.lower() for i in l2]
ans

['hyd', 'mumbai', 'chennai', 'blr']

In [15]:
#Q4) l2=['Hyd','Mumbai','Chennai','Blr']
# sum of the indexes of all elements

l2=['Hyd','Mumbai','Chennai','Blr']
id_list=[i for i in range(len(l2))]
id_list,sum(id_list)

([0, 1, 2, 3], 6)

In [16]:
l2=['Hyd','Mumbai','Chennai','Blr']
id_list=[l2.index(i) for i in l2]
id_list,sum(id_list)

([0, 1, 2, 3], 6)

- making empty list will not works in List comprehension
- Initializations will not work in List comprehension
- assignment operations also not works

$Pattern - 2$

**for loop - if condition**

In [ ]:
# syntax
[<Output> <for loop> <ifcondition>]

In [ ]:
# Q4)l1=['Hyd','Mumbai','Chennai','blr']
# ans=['Mumbai','Chennai']
# we want lements which are len of element >4
l1=['Hyd','Mumbai','Chennai','blr']
ans=[]
for i in l1:
 if len(i)>4:
     ans.append(i)
ans

#Q1) What is the output : i
#Q2) What is the if condition : if len(i)>4
#Q3) What is the for loop: for i in l1
# [<Output> <for loop> <ifcondition>]

In [19]:
l1 = ['Hyd', 'Mumbai', 'Chennai', 'blr']
op = [i for i in l1 if len(i) > 4]
print(op)

['Mumbai', 'Chennai']

In [ ]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'

# Q4)l1=['hyd','mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai','Chennai','Blr']
#  we want lements which are len of element >4

# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital

# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are having '#'

# Q7) ask the user get 5 numbers randomly
#     even_list and odd_list
#     even numbers should append at even_list
#     odd number should append at odd_list

# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append

# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

# 10 )
#  You have two lists
# qns=['What is capital of India',
       'Who is PM of india',
        'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi
#      marks= marks+1
# print the total marks

In [20]:
l1 = ['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
ans = [i for i in l1 if '#' in i]
print(ans)

['Mum#bai', 'Chen#nai']

In [21]:
l1 = ['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
with_has = [i for i in l1 if '#' in i]
without_has = [i for i in l1 if '#' not in i]

print("ans_#=", with_has)
print("ans_without_#=", without_has)

ans_#= ['Mum#bai', 'Chen#nai']
ans_without_#= ['Hyd', 'blr']

In [23]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

str1 = 'virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
email_list = str1.split(', ')

Firstname = [email.split('@')[0].split('.')[0] for email in email_list]
Secondname = [email.split('@')[0].split('.')[1] for email in email_list]
cname = [email.split('@')[1].split('.')[0] for email in email_list]

print("Firstname =", Firstname)
print("Secondname =", Secondname)
print("cname =", cname)

Firstname = ['virat', 'Rohit', 'KL']
Secondname = ['kohli', 'sharma', 'Rahul']
cname = ['rcb', 'mi', 'lucknow']

In [24]:
l1 = ['Hyd', 'Mumbai', 'Chennai', 'blr']
ans = [i for i in l1 if i.istitle()]
print(ans)

['Hyd', 'Mumbai', 'Chennai']

In [31]:
str1 = 'virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])
f_name

['virat', ' Rohit', ' KL']

In [33]:
str1 = 'virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1 = str1.split(', ')
s_name = []
for i in list1:
    name_part = i[:i.index('@')]
    last_name = name_part.split('.')[-1]
    s_name.append(last_name)
print(s_name)

['kohli', 'sharma', 'Rahul']

$Pattern − 3$

**if-else**

In [ ]:
[<output> <forloop>] : for loop
[<output> <forloop> <if condition>]: for-if
[<if_output> <if> <else> <else_output> <for>] : if-else

**even-odd**

In [1]:
even_list,odd_list=[],[]
for i in range(1,20):
     if i%2==0:
         even_list.append(f"even:{i}")
     else:
         odd_list.append(f"odd:{i}")

In [2]:
even_list,odd_list

(['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18'],
 ['odd:1',
  'odd:3',
  'odd:5',
  'odd:7',
  'odd:9',
  'odd:11',
  'odd:13',
  'odd:15',
  'odd:17',
  'odd:19'])

In [4]:
op_list=[]
for i in range(1,20):
     if i%2==0:
         op_list.append(f"even:{i}")
     else:
         op_list.append(f"odd:{i}")
op_list
#[<if_op> <if_con> <else> <else_op> <for_loop>]
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']